// @import "./constants.scss";
* {
  margin: 0;
  padding: 0;
}

body {
  background: url("./assets/img/bg.jpg") no-repeat fixed;
  background-size: 100% 100%;
  z-index: -3;
  position: relative;
}

body:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: inherit;
  z-index: -2;
  filter: blur(5px);
}

body:after {
  z-index: -1;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(205, 205, 173, 0.633);
  filter: blur(500px);
}
