$darkColor: rgba(13, 68, 41, 0.1);
$lightColor: rgba(244, 252, 248, 0.396);
$lightlightColor: rgba(255, 255, 255, 0.668);
$bgColor-dark: rgba(185, 223, 224, 0.753);
$bgColor-light:rgba(230, 255, 246, 0.434);
$font-dark: rgb(18, 86, 50);
$font-light:rgb(224, 250, 236);
$h1:rgb(200, 246, 221);
$h2:rgb(189, 247, 216);
$h3:rgb(155, 254, 201);
$h4:rgb(108, 252, 175);
$h5:rgb(245, 255, 249);
$strong:rgb(194, 252, 222);
$code:rgb(169, 79, 93);
$code-bg:rgba(5, 255, 30, 0.144);
$a:rgb(18, 174, 222);
$font-gray:rgb(59, 59, 59);
$tag-border:rgb(123, 249, 228);
$tag-font:rgb(169, 244, 201)